{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}ログイン{% endblock %}
{% block navbar %}
{% endblock navbar %}
{% block content %}
  <div class="container mt-2">
      <h2 class="text-primary">ログイン</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-outline-primary">ログイン</button>
    </form> 
    <hr style="border: 0; border-top: 1px solid;">
  <div class="social mt-3" style="display: flex;flex-direction: column;gap: 0.1em;">
    <a class="text-white  btn btn-success" style="display: flex; align-items: center;justify-content: flex-start;width: 180px;" href="{% url 'line_login' %}"><i style="font-size: 1.5rem" class="fab fa-line"></i>&nbsp;Lineでログイン</a>
  </div>
</div>
{% endblock %}