{% extends 'base.html' %}
{% load static %}
{% block title %}久留米ＤＭＯアンケートサイト{% endblock %}
{% block content %}
<div class="container my-3">
    <h2 class="text-warning"><i class="fas fa-poll-h"></i>&nbsp;久留米ＤＭＯ<br>&nbsp;アンケートサイト</h2>
    <div class="row my-3">
        <a class="col" href="{% url 'anke:anke' %}"><button type="button" class="btn btn-primary my-2 text-white" >回答はこちら&nbsp;<i class="far fa-hand-point-left lead"></i></button></a>
    </div>
    <img src="{% static 'anke/img/281381-01.jpg' %}" class="img-fluid" width=500rem height=auto alt="" style="border-radius: 2%;box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);">
</div>
{% endblock content %}