{% extends 'base.html' %}
{% load static %}
{% block title %}久留米DMOアンケートサイト{% endblock %}
{% block content %}
<div class="container my-3">
    <h2 class="text-warning"><i class="fas fa-poll-h"></i>&nbsp;久留米DMO<br>&nbsp;アンケートサイト</h2>
    <div class="social my-3" style="display: flex;flex-direction: column;gap: 0.1em;">
        <a href="{% url 'anke:anke' %}"><button class="btn btn-primary w-25 my-2 text-white" >回答はこちら</button></a>
    </div>
    <img src="{% static 'anke/img/281381-01.jpg' %}" class="img-fluid" width=500rem height=auto alt="" style="border-radius: 2%;box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);">
</div>
{% endblock content %}