{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}アンケートリスト{% endblock %}

{% block content %}
<div class="container">
<h3 class="mt-3 text-success">アンケート回答リスト</h3>
    <div class="questions">
      <h5>☆質問リスト</h5>
      <ul  style="list-style: none;">
        <li>質問①：耳納北麓エリアで一番好きな所は（例：施設、お店、風景など）？</li>
        <li>質問②：このエリアに来る前に、比較した場所があったら教えてください。</li>
        <li>質問③：ここまでの移動手段を教えてください。</li>
      </ul>
    </div>
    <a class="btn btn-primary mb-3" href="{%  url 'anke:export' %}">ダウンロード</a>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">回答日</th>
            <th scope="col">ID</th>
            <th scope="col">手段</th>
            <th scope="col">氏名</th>
            <th scope="col">住所</th>
            <th scope="col">Eメールアドレス</th>
            <th scope="col">質問１</th>
            <th scope="col">質問２</th>
            <th scope="col">質問３</th>
            </tr>
          </thead>
    <tbody>
    {% for answer in data %}
    <tr　scope="row">
      <td>{{answer.created|date}}</td>
      <td>{{answer.user}}</td>
      <td>{{answer.get_status_display}}</td>
      <td>{{answer.name}}</td>
      <td>{{answer.address}}</td>
      <td>{{answer.email}}</td>
      <td>{{answer.question1}}</td>
      <td>{{answer.question2}}</td>
      <td>{{answer.get_question3_display}}</td>
  </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}