{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}アンケートリスト{% endblock %}

{% block content %}
<div class="container">
<h3 class="mt-3 text-warning">アンケート回答リスト</h3>
    <div class="questions">
      <h5>☆質問リスト</h5>
      <ul  style="list-style: none;">
        <li>質問１：訪問回数</li>
        <li>質問２：比較した場所</li>
        <li>質問３：移動手段</li>
        <li>質問４：同行者(複数選択可)</li>
        <li>質問５：主目的(複数選択可)</li>
        <li>質問６：閲覧媒体(複数選択可)</li>
        <li>質問７：次の訪問予定地</li>
        <li>質問８：食事の費用</li>
        <li>質問９：買い物の額</li>
        <li>質問１０：一番好きなところ</li>
        <li>質問１１：来訪理由</li>
        <li>質問１２：ベスト旅行地</li>
        <li>質問１３：このエリアの点数</li>
        <li>質問１４：点数の理由</li>
        <li>質問１５：欠けてるもの</li>
      </ul>
    </div>
    <a class="btn btn-primary mb-3" href="{%  url 'anke:export' %}">ダウンロード</a>
    <table class="table table-sm table-striped table-responsive table-bordered">
        <thead class="table-success">
            <tr>
            <th scope="col">回答日</th>
            <th scope="col">手段</th>
            <th scope="col">氏名</th>
            <th scope="col">店舗</th>
            <th scope="col">性別</th>
            <th scope="col">年代</th>
            <th scope="col">住所</th>
            <th scope="col">Eメールアドレス</th>
            <th scope="col">メルマガ</th>
            <th scope="col">質問１</th>
            <th scope="col">質問２</th>
            <th scope="col">質問３</th>
            <th scope="col">質問４</th>
            <th scope="col">質問５</th>
            <th scope="col">質問６</th>
            <th scope="col">質問７</th>
            <th scope="col">質問８</th>
            <th scope="col">質問９</th>
            <th scope="col">質問１０</th>
            <th scope="col">質問１１</th>
            <th scope="col">質問１２</th>
            <th scope="col">質問１３</th>
            <th scope="col">質問１４</th>
            <th scope="col">質問１５</th>
            </tr>
          </thead>
    <tbody>
    {% for answer in data %}
    <tr　scope="row">
      <td>{{answer.created|date}}</td>
      <td>{{answer.get_status_display}}</td>
      <td>{{answer.name}}</td>
      <td>{{answer.get_shop_display}}</td>
      <td>{{answer.get_gender_display}}</td>
      <td>{{answer.get_age_display}}</td>
      <td>{{answer.address}}</td>
      <td>{{answer.email}}</td>
      <td>{{answer.notification}}</td>
      <td>{{answer.get_question1_display}}</td>
      <td>{{answer.question2}}</td>
      <td>{{answer.question3}}</td>
      <td>{% for friend in answer.question4.all %}
        「{{friend.name}}」
        {% endfor %}
      </td>
      <td>{% for purpose in answer.question5.all %}
        「{{purpose.name}}」
        {% endfor %}
      </td>
      <td>{% for media in answer.question6.all %}
        「{{media.name}}」
        {% endfor %}
      </td>
      <td>{{answer.question7}}</td>
      <td>{{answer.get_question8_display}}</td>
      <td>{{answer.get_question9_display}}</td>
      <td>{{answer.question10}}</td>
      <td>{{answer.question11}}</td>
      <td>{{answer.question12}}</td>
      <td>{{answer.question13}}</td>
      <td>{{answer.question14}}</td>
      <td>{{answer.question15}}</td>
  </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}
