{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}アンケートリスト{% endblock %}

{% block content %}
<div class="container">
<h3 class="mt-3 text-warning">アンケート回答リスト</h3>
    <div class="questions">
      <h5>☆質問リスト</h5>
      <ul  style="list-style: none;">
        <li>質問１：耳納北麓エリアに来るのは何回目ですか？</li>
        <li>質問２：このエリアに来る前に、比較した場所があったら教えてください。</li>
        <li>質問３：本日の移動手段は？</li>
        <li>質問４：本日は、どなたとご一緒ですか？(複数選択可)。</li>
        <li>質問５：本日の主な目的は？(複数選択可)。</li>
        <li>質問６：何をご覧になって来られましたか？</li>
        <li>質問７：この後耳納北麓エリア以外に訪れる予定の場所があれば、ご記入ください。</li>
        <li>質問８：耳納北麓エリアで食事に使う費用はいくらくらいですか？</li>
        <li>質問９：耳納北麓エリアで土産など買い物に使う費用はいくらくらいですか？</li>
        <li>質問１０：耳納北麓エリアで一番好きなところは？（例：施設、お店、風景など）</li>
        <li>質問１１：このエリアに来ると決めた理由は何ですか？</li>
        <li>質問１２：今まで旅行した中で、一番好きだった場所はどこですか？</li>
        <li>質問１３：その場所が100点とすると、このエリアは何点ですか？</li>
        <li>質問１４：その点数にした（減点した）理由は何ですか？</li>
        <li>質問１５：このエリアに欠けてるものがあるとすれば、それは何でしょうか？</li>
      </ul>
    </div>
    <a class="btn btn-primary mb-3" href="{%  url 'anke:export' %}">ダウンロード</a>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">回答日</th>
            <th scope="col">ID</th>
            <th scope="col">手段</th>
            <th scope="col">氏名</th>
            <th scope="col">店舗</th>
            <th scope="col">性別</th>
            <th scope="col">年齢</th>
            <th scope="col">住所</th>
            <th scope="col">Eメールアドレス</th>
            <th scope="col">質問１</th>
            <th scope="col">質問２</th>
            <th scope="col">質問３</th>
            <th scope="col">質問４</th>
            <th scope="col">質問５</th>
            <th scope="col">質問６</th>
            <th scope="col">質問７</th>
            <th scope="col">質問８</th>
            <th scope="col">質問９</th>
            <th scope="col">質問１０</th>
            <th scope="col">質問１１</th>
            <th scope="col">質問１２</th>
            <th scope="col">質問１３</th>
            <th scope="col">質問１４</th>
            <th scope="col">質問１５</th>
            </tr>
          </thead>
    <tbody>
    {% for answer in data %}
    <tr　scope="row">
      <td>{{answer.created|date}}</td>
      <td>{{answer.user}}</td>
      <td>{{answer.get_status_display}}</td>
      <td>{{answer.name}}</td>
      <td>{{answer.get_shop_display}}</td>
      <td>{{answer.get_sex_display}}</td>
      <td>{{answer.age}}</td>
      <td>{{answer.address}}</td>
      <td>{{answer.email}}</td>
      <td>{{answer.question1}}</td>
      <td>{{answer.question2}}</td>
      <td>{{answer.question3}}</td>
      <td>{% for friend in answer.question4.all %}
        「{{friend.name}}」
        {% endfor %}
      </td>
      <td>{% for purpose in answer.question5.all %}
        「{{purpose.name}}」
        {% endfor %}
      </td>
      <td>{{answer.question6}}</td>
      <td>{{answer.question7}}</td>
      <td>{{answer.question8}}</td>
      <td>{{answer.question9}}</td>
      <td>{{answer.question10}}</td>
      <td>{{answer.question11}}</td>
      <td>{{answer.question12}}</td>
      <td>{{answer.question13}}</td>
      <td>{{answer.question14}}</td>
      <td>{{answer.question15}}</td>
  </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}
